<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'update-success'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Arquivo atualizado com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'update-error'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Arquivo não foi atualizado.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'extension-error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Extensão de arquivo inválida.
				</div>
			<?php endif ?>

			<div class="header">
		    	Atualizar arquivos
		  	</div>
			<div class="box-cartaz">
				<form action="<?php echo URL_BASE ?>atualizar-arquivo" method="post" enctype="multipart/form-data">
			  		<p>Selecione um tipo de arquivo entre <b>Excel</b> e <b>Imagem</b> para que a listagem dos arquivos selecionados apareçam na lista de <b>arquivos</b> ao lado. Após isso selecione o arquivo que deseja editar e importe o seu novo arquivo para a atualização através do botão <b>escolher arquivo</b>. Por fim, clique no botão <b>Atualizar arquivo</b>.</p>
					<div class="row">
						<div class="col-md-4 ml-sm-auto col-lg-4 ">
							<div class="form-group">
						    	<label>Tipo de arquivo</label>
						    	<select class="form-control" name="file_type" id="file_type"required="required">
						    		<option value="">Selecione</option>
						    		<option value="xls">Arquivo de excel</option>
						    		<option value="img">Arquivo de imagem</option>
						    	</select>
						  	</div>
						</div>
						<div class="col-md-4 ml-sm-auto col-lg-4 ">
							<div class="form-group">
						    	<label>Arquivos</label>
						    	<select class="form-control" name="file_list" id="file_list"required="required">
						    		<option value="">Selecione</option>
						    		
						    	</select>
						  	</div>
						</div>
						<div class="col-md-4 ml-sm-auto col-lg-4 ">
							<div class="form-group">
						    	<label>Novo arquivo</label>
						    	<input type="file" class="form-control" name="arquivo" id="arquivo" placeholder="Enviar aquivo" required="required">
						  	</div>
						</div>
						<div class="col-md-12 ml-sm-auto col-lg-12 ">
						  	<input type="hidden" name="id_usuario" value="<?php echo $_SESSION['id']; ?>">
						  	<button type="submit" class="btn btn-primary" style="background-color:#0036D9 !important;">Atualizar arquivo</button>
						</div>
					</div>
				</form>
			</div>
			<?php if (isset($arquivos[0]->id)): ?>
				<div class="header">
			    	Clique sobre um arquivo de Excel abaixo para exibir a lista de produtos.
			  	</div>
			  	<div class="box-cartaz">
					<?php foreach ($arquivos as $key => $value): ?>
						<div class="arquivo">
							<div class="delete_arquivo" data-toggle="modal" data-target="#arquivoModal" data-id="<?php echo $value->id; ?>">X</div>
							<a href="<?php echo URL_BASE ?>dashboard/visualizar_arquivo/<?php echo $value->id; ?>">
								<div style="width=100%; height:100%;">
									<?php echo $value->nome; ?>
								</div>
							</a>
						</div>
					<?php endforeach ?>			
			  	</div>
			<?php endif ?>
		</main>	
	</div>
</div>