<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		  	<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'success'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Configuração realizada com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> A configuração não pode ser concluída.
				</div>
			<?php endif ?>

			<div class="header">
		    	Configurar nomes de cabeçalho do arquivo Excel
		  	</div>
		  	<div class="box-cartaz">
				<?php if (isset($arquivos) and empty($arquivos[0]->id)): ?>
					<p><b>Para configurar um arquivo você precisa primeiro enviar um arquivo de Excel para o sistema. Após enviado o arquivo você poderá configurar as colunas do arquivo Excel para o seu template de cartaz.</b></p>
					<p><b>Acesse aqui: [<a href="<?php echo URL_BASE ?>importar-arquivo">Importar arquivo de Ecel</a>] para adicionar um novo arquivo ao sistema.</b></p>
				<?php else: ?>
					<p>Esta configuração é necessária para que você informe ao Vprint com quais colunas do seu arquivo de Excel você irá trabalhar. Se ainda tiver dúvidas, assista este vídeo: <a href="<?php echo URL_BASE ?>dashboard/videos#list-4" target="blank">Configurando arquivo de excel</a></p>
					<?php foreach ($arquivos as $key => $value): ?>
						<div class="arquivo">
							<div class="delete_arquivo" data-toggle="modal" data-target="#arquivoModal" data-id="<?php echo $value->id; ?>">X</div>
							<a href="<?php echo URL_BASE ?>dashboard/configurar_arquivo/cabecalho/<?php echo $value->id; ?>">
								<div style="width=100%; height:100%;">
									<?php echo $value->nome; ?>
								</div>
							</a>
						</div>
					<?php endforeach ?>
				<?php endif ?>
				
				<?php if ($table != null): ?>
				<div id="cabecalhos">
					<pre>
					<?php $configuracao = (unserialize($arquivo_formulario[0]->configuracao)); ?>
					</pre>
					<form action="<?php echo URL_BASE ?>salvar-configuracao" method="post">
						<input type="hidden" value="<?php echo $params[1]; ?>" name="id">
						<div class="row">
							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Código do produto</span>
								<select class="custom-select" name="codigo">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['codigo']) && ($configuracao['codigo']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>	
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Text de cabeçalho</span>
								<select class="custom-select" name="title">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['title']) && ($configuracao['title']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>	
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Nome do produto (Principal)</span>
								<select class="custom-select" name="nome-1">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['nome-1']) && ($configuracao['nome-1']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Nome do produto (Linha 2)</span>
								<select class="custom-select" name="nome-2">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['nome-2']) && ($configuracao['nome-2']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Nome do produto (Linha 3)</span>
								<select class="custom-select" name="nome-3">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['nome-3']) && ($configuracao['nome-3']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Nome do produto (Linha 4)</span>
								<select class="custom-select" name="nome-4">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['nome-4']) && ($configuracao['nome-4']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Preço de (valor real)</span>
								<select class="custom-select" name="price-real">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['price-real']) && ($configuracao['price-real']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Preço por (Valor promocional)</span>
								<select class="custom-select" name="price-by">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['price-by']) && ($configuracao['price-by']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Texto de rodapé</span>
								<select class="custom-select" name="footer-text">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['footer-text']) && ($configuracao['footer-text']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Texto adicional 1</span>
								<select class="custom-select" name="adicional-text1">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['adicional-text1']) && ($configuracao['adicional-text1']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Texto adicional 2</span>
								<select class="custom-select" name="adicional-text2">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['adicional-text2']) && ($configuracao['adicional-text2']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>

							<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
							    <span>Texto adicional 3</span>
								<select class="custom-select" name="adicional-text3">
									<option value=""></option>
									<?php foreach ($table[0] as $key => $value): ?>
										<option <?php echo (is_numeric($configuracao['adicional-text3']) && ($configuracao['adicional-text3']==$key))?'selected':''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
									<?php endforeach ?>
								</select>
							</div>
							
							<div class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
								<button type="submit" class="btn btn-primary" style="background-color:#0036D9 !important;">Salvar configuração</button>
							</div>
						</div>
					</form>
				</div>
				<?php endif ?>	
		  	</div>
		</main>	
	</div>
</div>