<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'success'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Novo cartaz criado com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Cartaz não pode ser criado ou deletado com sucesso.
				</div>
			<?php endif ?>
			<div class="header">
		    	Criar cartaz
		  	</div>
			<div class="box-cartaz">
				<p>Os padrões <b>Retrato</b> e <b>Paisagem</b> preenchem perfeitamente uma folha de impressão de um arquivo PDF. Ao fazer download do cartaz o sistema disponibiliza um arquivo PDF pronto para impressão.</p>
				<form action="<?php echo URL_BASE ?>save-template" method="post">
					<div class="row">
						<div class="col-md-8 ml-sm-auto col-lg-8">
							<div class="form-group">
						    	<label>Nome do cartaz</label>
						    	<input type="text" class="form-control" name="nome_cartaz" id="nome_cartaz" placeholder="Nome do cartaz" required="required">
						  	</div>
						</div>
					  	<div class="col-md-4 ml-sm-auto col-lg-4">
						  	<div class="form-group">
						    	<label>Tamanho do cartaz (tamanho_cartaz_px_paisagem)</label>
						    	<select class="form-control" name="tamanho_cartaz_px" id="tamanho_cartaz_px_paisagem">
						    		<?php foreach ($tamanhos as $key => $value): ?>
						    			<option data-cm="<?php echo $value['size-cm']; ?>" value="<?php echo $value['size-px']; ?>"><?php echo $value['name'].' '.$value['size-px'] ?></option>
						    		<?php endforeach ?>
						    	</select>
						  	</div>
						</div>
					</div>
					<input type="hidden" name="tamanho_cartaz_cm" id="tamanho_cartaz_cm" value="841x594">
					<input type="hidden" name="orientacao" value="paisagem">
				  	<input type="hidden" name="id_usuario" value="<?php echo $_SESSION['id']; ?>">
				  	<button type="submit" class="btn btn-primary" style="#0036D9 !important;">Criar um cartaz em branco</button>
				</form>
			</div>
				<?php if (!empty($cartazes[0]->id)): ?>
				<div class="header">
			    	Lista de templates criados por você. Selecione um de seus templates para ser usado.
			  	</div>			
			
			<div class="box-cartaz">
					<div class="box-cartaz">
					<table class="table table-sm table-hover" style="font-size:14px;" id="produtos-tabela">
				  		<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>Tamanho</th>
								<th>Orientação</th>
								<th>Deletar</th>
						    </tr>
						    <tbody>
								<?php foreach ($cartazes as $key => $value): ?>
									<tr>
										<td>
											<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
												<?php echo $value->id; ?>
											</a>
										</td>
										<td>
											<input name="nome_cartaz" class="cartaz_nome" value="<?php echo $value->nome_cartaz; ?>" data-id="<?php echo $value->id; ?>">
										</td>
										<td>
											<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
												<?php echo $dashboard->template_name($value->tamanho_cartaz_px); ?>
											</a>
										</td>
										<td>
											<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
												<?php echo ucfirst($value->orientacao); ?>
											</a>
										</td>
										<td>
											<div class="delete_cartaz" data-toggle="modal" data-target="#exampleModal" data-id="<?php echo $value->id; ?>">X</div>
										</td>
									</tr>
								<?php endforeach ?>			
							</tbody>
						</thead>
				  	</table>
				<?php endif ?>
			</div>
		</main>	
	</div>
</div>