<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'success-delete'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Arquivo deletado com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && ($_QUERY['status'] == 'error-delete-file' || $_QUERY['status'] == 'error-delete')): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> O arquivo de imagem não foi deletado.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['msg'])): ?>
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<?php echo urldecode($_QUERY['msg']); ?>
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'duplicate'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Nome de arquivo já existe.
				</div>
			<?php endif ?>

			<div class="header">
		    	Importar arquivos de imagem
		  	</div>
			<div class="box-cartaz">
				<form action="<?php echo URL_BASE ?>salvar-imagens" method="post" enctype="multipart/form-data">
			  		<p>Envie um arquivo de Imagem para o sistema e utilize-o no seu cartaz. Você poderá usar como imagem de fundo para personalizar o seu cartaz. Para deletar uma imagem é só você clicar num ícone de um <b>X</b> que estará sobre a imagem criada.</p>
					<div class="row">
						<div class="col-md-4 ml-sm-auto col-lg-4 ">
							<div class="form-group">
						    	<label>Dê um nome para o arquivo de Imagem</label>
						    	<input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do aquivo" required="required">
						  	</div>
						</div>
						<div class="col-md-8 ml-sm-auto col-lg-8 ">
							<div class="form-group">
						    	<label>Você pode enviar mais de um arquivo. Pressione <b>SHIFT</b> sobre cada arquivo adicional para envialos junto.</label>
						    	<input type="file" class="form-control" name="imagens[]" id="imagens" multiple placeholder="Enviar aquivo" required="required">
						  	</div>
						</div>
						<div class="col-md-12 ml-sm-auto col-lg-12 ">
						  	<input type="hidden" name="id_usuario" value="<?php echo $_SESSION['id']; ?>">
						  	<button type="submit" class="btn btn-primary" style="background-color:#0036D9 !important;">Salvar imagem</button>
						</div>
					</div>
				</form>
			</div>
			<?php if (isset($imagens[0]->id) and !empty($imagens[0]->id)): ?>
				<div class="header">
			    	Clique sobre um arquivo de Imagem abaixo para visualizar em tamanho maior ou clique no <b>X</b> para deleta-la.
			  	</div>
			  	<div class="box-cartaz">
					<?php foreach ($imagens as $key => $value): ?>
						<div class="arquivo-imagem" style="background-image: url('<?php echo URL_BASE.$value->caminho; ?>')!important;">
							<div class="delete_imagem" data-toggle="modal" data-target="#imagemModal" data-id="<?php echo $value->id; ?>">X</div>
							<a href="<?php echo URL_BASE ?>dashboard/visualizar_arquivo/<?php echo $value->id; ?>" class="viewModal" data-toggle="modal" data-target="#imagemviewModal" data-caminho="<?php echo URL_BASE.$value->caminho; ?>">
								<div style="width=100%; height:20%;">
									<?php echo $value->nome; ?>
								</div>
							</a>
						</div>
					<?php endforeach ?>			
			  	</div>
			<?php endif ?>
		</main>	
	</div>
</div>