<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'saved'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Arquivo salvo com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'success-delete'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Sucesso!</strong> Arquivo deletado com sucesso.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'error-delete'): ?>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Arquivo não foi deletado.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'upload-error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Arquivo não foi enviado.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'sizefile-error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Limite de tamanho de arquivo atingido. Tamanho máximo 5M.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'extension-error'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Extensão de arquivo inválida.
				</div>
			<?php endif ?>

			<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'duplicate'): ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro!</strong> Nome de arquivo já existe.
				</div>
			<?php endif ?>

			<div class="header">
		    	Importar arquivos de Excel
		  	</div>
			<div class="box-cartaz">
				<form action="<?php echo URL_BASE ?>salvar-arquivo" method="post" enctype="multipart/form-data">
			  		<p>Envie um arquivo de Excel para o sistema. Cada item cadastrado em sua tabela poderá ser usado no processo de criação do seu cartaz.</p>
					<div class="row">
						<div class="col-md-4 ml-sm-auto col-lg-4 ">
							<div class="form-group">
						    	<label>Nome para o arquivo</label>
						    	<input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do aquivo" required="required">
						  	</div>
						</div>
						<div class="col-md-8 ml-sm-auto col-lg-8 ">
							<div class="form-group">
						    	<label>Arquivo</label>
						    	<input type="file" class="form-control" name="arquivo_excel" id="arquivo_excel" placeholder="Enviar aquivo" required="required">
						  	</div>
						</div>
						<div class="col-md-12 ml-sm-auto col-lg-12 ">
						  	<input type="hidden" name="id_usuario" value="<?php echo $_SESSION['id']; ?>">
						  	<button type="submit" class="btn btn-primary" style="background-color:#0036D9 !important;">Salvar arquivo</button>
						</div>
					</div>
				</form>
			</div>
			<?php if (isset($arquivos[0]->id)): ?>
				<div class="header">
			    	Clique sobre um arquivo de Excel abaixo para exibir a lista de produtos.
			  	</div>
			  	<div class="box-cartaz">
			  		<p>Quando você clicar sobre uma destas tabelas abaixo, elas poderão ser acessadas diretamente através do link de menu <b>Visualizar Tabela</b> que se encontra do seu lado esquerdo. Sempre quando clicada ela fica selecionada como tabela de visualização para consultas.</p>
					<?php foreach ($arquivos as $key => $value): ?>
						<div class="arquivo">
							<div class="delete_arquivo" data-toggle="modal" data-target="#arquivoModal" data-id="<?php echo $value->id; ?>">X</div>
							<a href="<?php echo URL_BASE ?>dashboard/visualizar_arquivo/<?php echo $value->id; ?>/novo">
								<div style="width=100%; height:100%;">
									<?php echo $value->nome; ?>
								</div>
							</a>
						</div>
					<?php endforeach ?>			
			  	</div>
			<?php endif ?>
		</main>	
	</div>
</div>