<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2018
	View: dashboard
-->
<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="header">
				Primeiros passos [<span style="color:white;">Siga-os por que são importantes!</span>]
			</div>
			<div class="box-cartaz">
				<ol>
					<li><a href="<?php echo URL_BASE.'importar-arquivo' ?>">Importe</a> um arquivo de Excel para o sistema do Vprint. (<span><i>Você precisa de um arquivo de excel para visualizar seus produtos no cartaz.</i></span>)</li>
					
					<li><a href="<?php echo URL_BASE.'configurar-arquivo' ?>">Configure</a> o seu arquivo de Excel no sistema do Vprint. (<span><i>A configuração vai permitir que você defina quais colunas de sua tabela em Excel estarão visíveis dentro do cartaz.</i></span>)</li>
					
					<li><a href="<?php echo URL_BASE.'enviar-imagens' ?>">Importe imagens</a> no sistema do Vprint. (<span><i>Adicione suas imagens para personalizar seus cartazes.</i></span>)</li>

					<li><a href="<?php echo URL_BASE.'create-template' ?>">Crie um cartaz</a> no sistema do Vprint. (<span><i>Uma vez que já tenha importado e configurado o seu arquivo de Excel você já poderá criar seus cartazes sem problemas.</i></span>)</li>
				</ol>
			</div>

			<div class="header">
				Vídeos aulas
			</div>
			<div class="box-cartaz">
				Assista as <a href="<?php echo URL_BASE.'dashboard/videos' ?>">vídeos aulas</a> para melhores esclarecimentos. Ao todo são 10 vídeos que mostram ao usuário como que o sistema funciona.
			</div>

			<div class="header">
				Dashboard 
			</div>
			<div class="box-card">
		    	<h5 class="card-title">Arquivos Excel</h5>
		    	<?php if ($arquivos == 1): ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $arquivos; ?> Arquivo salvo</h6>
		    	<?php else: ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $arquivos; ?> Arquivos salvos</h6>
		    	<?php endif ?>
		    	<p class="card-text">Carregue uma lista de produtos a partir de uma tabela Excel.</p>
		    	<a href="<?php echo URL_BASE ?>importar-arquivo" class="card-link">Novo arquivo</a>
		    	<a href="<?php echo URL_BASE ?>importar-arquivo" class="card-link">Listar arquivos</a>
		  	</div>

			<div class="box-card">
		    	<h5 class="card-title">Templates</h5>
		    	<?php if ($cartazes == 1): ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $cartazes; ?> template criado</h6>
		    	<?php else: ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $cartazes; ?> templates criados</h6>
		    	<?php endif ?>
		    	<p class="card-text">Crie templates personalizados e aplique em sua lista de produtos.</p>
		    	<a href="<?php echo URL_BASE ?>create-template" class="card-link">Novo template</a>
		    	<a href="<?php echo URL_BASE ?>list-templates" class="card-link">Listar templates</a>
			</div>

			<div class="box-card">
		    	<h5 class="card-title">Imagens</h5>
		    	<?php if ($imagens == 1): ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $imagens; ?> imagem criada</h6>
		    	<?php else: ?>
		    		<h6 class="card-subtitle mb-2 text-muted"><?php echo $imagens; ?> imagens criadas</h6>
		    	<?php endif ?>
		    	<p class="card-text">Carregue imagens personalizadas para adicionar ao seu cartaz.</p>
		    	<a href="<?php echo URL_BASE ?>enviar-imagens" class="card-link">Nova imagem</a>
		    	<a href="<?php echo URL_BASE ?>enviar-imagens" class="card-link">Listar imagens</a>
			</div>
		</main>	
	</div>
</div>