<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="header">
		    	Lista de templates criados por você. Selecione um de seus templates para ser usado.
		    	<div id="status-cartaz">
		    		<div class="status">
						<a href="#" class="botao" id="importar">
		    				Importar Template
						</a>
		    		</div>
					<div class="status">
						<a href="<?php echo URL_BASE.'dashboard/exportar_template'; ?>" class="botao">
							Download de todos os templates
						</a>
					</div>
				</div>
		  	</div>

			<div class="box-cartaz">
			  	<div style="margin:15px;">		  			
		  			<?php if (isset($_QUERY['error']) and $_QUERY['error'] == 'ext'): ?>
			  			<p style="color:red"><b>[ERRO]</b> O arquivo enviado não é válido.</p>
		  			<?php endif ?>
		  			
		  			<?php if (isset($_QUERY['error']) and $_QUERY['error'] == 'import'): ?>
			  			<p style="color:red"><b>[ERRO]</b> Template não foi importado com sucesso! Verifique se não tentou enviar um template que já existe. Observe o código do template.</p>
		  			<?php endif ?>
		  			
		  			<?php if (isset($_QUERY['success']) and $_QUERY['success'] == 'import'): ?>
			  			<p style="color:green"><b>[SUCESSO]</b> Template importado com sucesso!.</p>
		  			<?php endif ?>
	  			</div>

			  	<div id="formulario_de_importar_template" style="margin:15px;">		  			
			  		<form action="<?php echo URL_BASE ?>dashboard/importar_template" method="post" enctype="multipart/form-data">

						<div class="row">
							<div class="col-md-12 ml-sm-auto col-lg-12 ">
								<div class="form-group">
									<b>Importe um template para o sistema.</b>
							    	<label>Se você for enviar um template com código já existente, por favor o delete antes.</label>
							    	<input type="file" class="form-control" name="template" id="template_file" multiple placeholder="Enviar aquivo de template" required="required">
							  	</div>
							</div>
							<div class="col-md-12 ml-sm-auto col-lg-12 ">
							  	<button type="submit" class="btn btn-primary btn-sm" style="background-color:#0036D9 !important;">Importar template</button>
							  	<a class="btn btn-dark btn-sm" id="fechar_formulario" style="color:#FFF !important;">Fechar formulário</a>
							</div>
						</div>
					</form>
			  	</div>
				
				<table class="table table-sm table-hover" style="font-size:14px;" id="produtos-tabela">
			  		<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Tamanho</th>
							<th>Orientação</th>
							<th>Deletar</th>
							<th>Exportar</th>
					    </tr>
					    <tbody>
							<?php foreach ($cartazes as $key => $value): ?>
								<tr>
									<td>
										<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
											<?php echo $value->id; ?>
										</a>
									</td>
									<td>
										<input name="nome_cartaz" class="cartaz_nome" value="<?php echo $value->nome_cartaz; ?>" data-id="<?php echo $value->id; ?>">
										</td>
									<td>
										<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
											<?php echo $dashboard->template_name($value->tamanho_cartaz_px); ?>
										</a>
									</td>
									<td>
										<a href="<?php echo URL_BASE ?>dashboard/template/<?php echo $value->id; ?>" target="blank">
											<?php echo ucfirst($value->orientacao); ?>
										</a>
									</td>
									<td>
										<div class="delete_cartaz" data-toggle="modal" data-target="#exampleModal" data-id="<?php echo $value->id; ?>" style="text-align:center; width:100%;">X</div>
									</td>
									<td>
										<a href="<?php echo URL_BASE.'dashboard/exportar_template/'.$value->id; ?>" class="btn btn-primary btn-sm" style="text-align:center; margin-left: 25%;">Exportar</a>
									</td>
								</tr>
							<?php endforeach ?>			
						</tbody>
					</thead>
			  	</table>
			</div>
		</main>	
	</div>
</div>