<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="header">
		    	Seus dados
		  	</div>
	  		<?php foreach ($dados[0] as $key => $value): ?>
	  			<?php if ($key == 'created_at'): ?>
		    	<div class="box-cartaz"><?php echo '<b>Cadastrado em</b>' . ' ' . date('d-m-Y - H:i:s', strtotime($value));; ?></div>
		    	<?php else: ?>
		    	<div class="box-cartaz"><?php echo '<b>' . ucfirst($key) . '</b> ' . ucfirst($value); ?></div>
	  			<?php endif ?>
	  		<?php endforeach ?>
		</main>	
	</div>
</div>