<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2018
	View: dashboard
-->
<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="header">
				Sobre o Vprint
			</div>
			<div class="box-cartaz">
				<p>
					<?php require 'partials/Vprint.xhtml'; ?>
				</p>
			</div>
		</main>	
	</div>
</div>