<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2018
	View: dashboard
-->
<?php require 'partials/main-menu.phtml'; ?>

<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="row">
				<div class="header">
					<a href="#" class="botao">Salvar Cartaz</a>
					<a href="#" onclick="window.location.reload()" class="botao">Atualizar Cartaz</a>
					<div id="status-cartaz">
						<div class="status" id="status-cartaz-nome">Nome: <?php echo $cartaz_atual[0]->nome_cartaz; ?></div>
						<div class="status" id="status-cartaz-tipo-folha">Tipo: <?php echo $dashboard->template_name($cartaz_atual[0]->tamanho_cartaz_px); ?></div>
						<div class="status" id="status-cartaz-orientacao">Orientação: <?php echo $cartaz_atual[0]->orientacao; ?></div>
						<div class="status" id="status-cartaz-zoom">Zoom: <?php echo ($cartaz_atual[0]->zoom == 0)?"Normal":"-".$cartaz_atual[0]->zoom; ?></div>
					</div>
				</div>
				<div class="box-cartaz">
					<div class="col-md-12 col-lg-12" id="config-boxes">
						<?php require 'partials/config-template.phtml'; ?>
					</div>
					<?php if (isset($_SESSION['header_and_footer'][0])): ?>
						<?php parse_str($_SESSION['header_and_footer'][0], $products); ?>
					<?php endif ?>
					<div class="col-md-12 col-lg-12">
						<?php 
							$style_zoom = '';
							$data_scala = '';
							if (!empty($cartaz_atual[0]->zoom)) {
								if ($cartaz_atual[0]->zoom == 0) {
									$style_zoom = "transform: scale(1); transform-origin: left top 0px;";
									$data_scala = 0;
								} else {
									$data_scala = $cartaz_atual[0]->zoom;
									$style_zoom = "transform: scale(0.{$cartaz_atual[0]->zoom}); transform-origin: left top 0px;";	
								}
							}
						?>
						<div id="cartaz-final" data-tamanho="<?php echo $cartaz_atual[0]->tamanho_cartaz_cm; ?>" style="width: <?php echo $width; ?>px; height: <?php echo $height; ?>px; <?php echo $style_zoom; ?>" data-orientacao="<?php echo $cartaz_atual[0]->orientacao; ?>" data-scala="<?php echo $data_scala; ?>">
							<div id="folha" class="folha" style="width: <?php echo $width; ?>px; height: <?php echo $height; ?>px; box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px;">
								<?php  if (empty($cartaz_atual[0]->cartaz_html)): ?>
									<input type="hidden" id="id_template" value="<?php echo $params; ?>">
									<div id="header"></div>
									<div id="body"></div>
									<div id="footer"></div>
								<?php else: ?>
									<?php echo ($cartaz_atual[0]->cartaz_html); ?>
								<?php endif; ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>	
	</div>
</div>
