<!--  
  Arquivo gerado pelo Build_Core 
  @author Maickon Rangel - maickon4developers@gmail.com
  Prodigio Framework - 2018
  View: videos
-->
<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
    <div class="row">
        <?php require 'partials/left-menu.phtml'; ?>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="header">
            Aprenda a usar o Vprint 
          </div>
          <div class="box-cartaz">
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-1-list" data-toggle="list" href="#list-1" role="tab" aria-controls="1">Descrição breve sobre o Vprint</a>
                            <a class="list-group-item list-group-item-action" id="list-2-list" data-toggle="list" href="#list-2" role="tab" aria-controls="2">Criando um novo usuário</a>
                            <a class="list-group-item list-group-item-action" id="list-3-list" data-toggle="list" href="#list-3" role="tab" aria-controls="3">Importando arquivo de excel</a>
                            <a class="list-group-item list-group-item-action" id="list-4-list" data-toggle="list" href="#list-4" role="tab" aria-controls="4">Configurando arquivo de excel</a>
                            <a class="list-group-item list-group-item-action" id="list-5-list" data-toggle="list" href="#list-5" role="tab" aria-controls="5">Importando uma imagem</a>
                            <a class="list-group-item list-group-item-action" id="list-6-list" data-toggle="list" href="#list-6" role="tab" aria-controls="6">Criando um cartaz</a>
                            <a class="list-group-item list-group-item-action" id="list-7-list" data-toggle="list" href="#list-7" role="tab" aria-controls="7">Selecionando templates</a>
                            <a class="list-group-item list-group-item-action" id="list-8-list" data-toggle="list" href="#list-8" role="tab" aria-controls="8">Combinando cartazes</a>
                            <a class="list-group-item list-group-item-action" id="list-9-list" data-toggle="list" href="#list-9" role="tab" aria-controls="9">Fazendo download do cartaz</a>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-1-list">
                                <h1 id="list-item-1">Descrição breve sobre o Vprint</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-1.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list">
                                <h1 id="list-item-2">Criando um usuário</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-2.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list">
                                <h1 id="list-item-3">Importando arquivo de excel</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-7.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list">
                                <h1 id="list-item-4">Configurando arquivo de excel</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-8.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-5-list">
                                <h1 id="list-item-5">Importando uma imagem</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-6.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-6" role="tabpanel" aria-labelledby="list-6-list">
                                <h1 id="list-item-6">Criando um cartaz</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-3.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-7" role="tabpanel" aria-labelledby="list-7-list">
                                <h1 id="list-item-7">Selecionando templates</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-4.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-8" role="tabpanel" aria-labelledby="list-8-list">
                                <h1 id="list-item-8">Combinando cartazes</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-5.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-9" role="tabpanel" aria-labelledby="list-9-list">
                                <h1 id="list-item-9">Fazendo download do cartaz</h1>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls poster="<?php echo URL_BASE.'app/assets/img/preview-video.fw.png' ?>" class="embed-responsive-item">
                                        <source src="<?php echo URL_BASE.'app/assets/videos/video-9.mp4' ?>" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main> 
    </div>
    <br>
</div>