<?php require 'partials/main-menu.phtml'; ?>
<div class="container-fluid">
	<div class="row">
		<?php require 'partials/left-menu.phtml'; ?>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="header">
		  		Catálogo de produtos
		  		<div id="status-cartaz">
		  			<div class="status">
		  				<?php if (isset($arquivo_excel[0]->nome)): ?>
		  					ARQUIVO USADO: <?php echo $arquivo_excel[0]->nome; ?>	
		  				<?php endif ?>
		  			</div>
		  		</div>
			</div>
		  	<div class="table-responsive box-cartaz" style="border: 1px solid #888888; box-shadow: 2px 5px 2px #888888;">
			<div style="padding-left:15px;">
				<span>
					Marcar todos os produtos
					<input type="radio" name="marcar_desmarcar" style="cursor:pointer;" id="marcar-tudo">
				</span>
				<span style="margin-left:20px;">
					Desmarcar todos Produtos
					<input type="radio" name="marcar_desmarcar" style="cursor:pointer;" id="desmarcar-tudo">
				</span>
				<span style="margin-left:20px;">
					Abrir produtos no mesmo cartaz
					<input type="checkbox" style="cursor:pointer;" id="mesmo-cartaz">
				</span>
				<span style="margin-left:20px;">
					Duplicar Produtos
					<input type="checkbox" style="cursor:pointer;" id="duplicar-produtos">
				</span>
			</div>
		  	<table class="table table-sm table-hover" style="font-size:14px;" id="produtos-tabela">
		  		<thead class="thead-dark">
					<tr>
						<th>Marcar</th>
				  		<?php foreach ($table[0] as $key => $value): ?>
							<th scope="col"><span><?php echo $value; ?></span></th>
				  		<?php endforeach ?>
				    </tr>
				    <?php  $arqexcel = unserialize($arquivo_excel[0]->configuracao); ?>
				    <tbody>
				    	<?php foreach ($table[1] as $key => $value): ?>
							<tr>
								<?php $query_url = $dashboard->build_url_cartaz($value, $arqexcel); ?>
								<td>
									<div class="form-check">
										<span class="indice-check"><?php echo $key; ?></span>
										<span class="indice-check">
											<?php 
												if (isset($_SESSION['produtos_cartaz']) and array_key_exists($key, $_SESSION['produtos_cartaz'])) {
													$checked = 'checked';
												} else {
													$checked = '';
												}
											?>
											<input class="form-check-input checkbox-produto" data-url="<?php echo $query_url; ?>" data-id="<?php echo $key; ?>" type="checkbox" <?php echo $checked; ?> style="cursor:pointer; margin-left:2px;" id="checkbox-<?php echo $key; ?>">
										</span>
										<select class="qtd-products form-control-sm" id="qtd-products-option-<?php echo $key; ?>">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>
								</td>
				  			<?php foreach ($value as $key1 => $value1): ?>
								<td scope="row"><?php echo $value1; ?></td>
							<?php endforeach ?>
							</tr>
			  			<?php endforeach ?>
					</tbody>
				</thead>
		  	</table>
		  	<?php if (!isset($_SESSION['template-id'])): ?>
		  		<a href="<?php echo URL_BASE.'list-templates/'; ?>" class="btn btn-primary" id="abrir-produtos" style="background-color:#0036D9 !important;">Selecione um template primeiro</a>
		  	</div>
		  	<?php else: ?>
			  	<a href="<?php echo URL_BASE.'dashboard/template/'.$_SESSION['template-id']; ?>" class="btn btn-primary" target="blank" id="abrir-produtos" style="background-color:#0036D9 !important;">Abrir produtos selecionados</a>
			  	</div>
		  	<?php endif ?>
		</main>	
	</div>
</div>