<!-- header -->
<div id="config-header">
	<div class="close">X</div>
	<p class="config-text">Cabeçalho</p>
	<div class="config-body">
		<span id="ideal-size-header"></span>
		<input id="color-palet-header" type="text" placeholder="Cor de fundo" title="Cor de fundo do cabeçalho">
		<br>
		<span>Altura do Cabeçalho</span>
		<input id="height-header" type="number" class="form-control form-control-sm" placeholder="Altura do cabeçalho em px" title="Altura do cabeçalho em pixels.">
		<span>Selecione uma imagem de cabeçalho</span>
		<select class="form-control form-control-sm" id="image-header" title="Selecione uma de suas imagens">
			<option value="">Selecione</option>
			<?php foreach ($imagens as $key => $value): ?>
				<option value="<?php echo URL_BASE.$value->caminho; ?>"><?php echo $value->nome; ?></option>
			<?php endforeach ?>
		</select>
	</div>
</div>

<!-- body -->
<div id="config-body">
	<p class="config-text">Corpo</p>
	<div class="close">X</div>
	<div class="config-body">
		<span id="ideal-size-body"></span>
		<input id="color-palet-body" type="text" placeholder="Cor de fundo" title="Cor de fundo do corpo do cartaz">
		<br>
		<span>Altura do Corpo</span>
		<input id="height-body" type="number" class="form-control form-control-sm" placeholder="Altura do corpo em px" title="Altura do corpo em pixels.">
		<span>Selecione uma imagem de corpo</span>
		<select class="form-control form-control-sm" id="image-body" title="Selecione uma de suas imagens">
			<option value="">Selecione</option>
			<?php foreach ($imagens as $key => $value): ?>
				<option value="<?php echo URL_BASE.$value->caminho; ?>"><?php echo $value->nome; ?></option>
			<?php endforeach ?>
		</select>
	</div>
</div>

<!-- footer -->
<div id="config-footer">
	<p class="config-text">Rodapé</p>
	<div class="close">X</div>
	<div class="config-body">
		<span id="ideal-size-footer"></span>
		<input id="color-palet-footer" type="text" placeholder="Cor de fundo" title="Cor de fundo do rodapé">
		<br>
		<span>Altura do Rodapé</span>
		<input id="height-footer" type="number" class="form-control form-control-sm" placeholder="Altura do rodapé em px" title="Altura do rodapé em pixels.">
		<span>Selecione uma imagem de rodapé</span>
		<select class="form-control form-control-sm" id="image-footer" title="Selecione uma de suas imagens">
			<option value="">Selecione</option>
			<?php foreach ($imagens as $key => $value): ?>
				<option value="<?php echo URL_BASE.$value->caminho; ?>"><?php echo $value->nome; ?></option>
			<?php endforeach ?>
		</select>
	</div>
</div>

<!-- Painel controlador -->
<div id="config-control">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<input type="hidden" id="id-elemento">
		<input type="hidden" id="indice-cartaz">
		<span>Nome</span>
		<textarea id="name-product" class="form-control form-control-sm" type="text" placeholder="Nome"></textarea>
		<input id="color-palet-product" type="text" placeholder="Cor">
		<span>Tamanho da Fonte</span>
		<input id="font-product-size" type="number" class="form-control form-control-sm" placeholder="Tamanho da fonte">
		<span>Família da Fonte</span>
		<select id="font-family-product-style" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php foreach ($dashboard->templates_font_family() as $key => $value): ?>
				<option value="<?php echo $value; ?>"><?php echo $value; ?></option>
			<?php endforeach ?>
		</select>
		<span>Largura do componente do texto</span>
		<input id="div-width" type="number" class="form-control form-control-sm" placeholder="Largura do componente de texto">
		<span>Altura do componente do texto</span>
		<input id="div-height" type="number" class="form-control form-control-sm" placeholder="Altura do componente de texto">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-product-bold">
			<label class="form-check-label">
	    		Negrito
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-product-uppercase">
			<label class="form-check-label">
	    		Letra maiúscula
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento" value="" id="font-product-center">
			<label class="form-check-label">
	    		Centralizado
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento" value="" id="font-product-left">
			<label class="form-check-label">
	    		Esquerda
	  		</label>
		</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento" value="" id="font-product-right">
			<label class="form-check-label">
	    		Direita
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar" value="" id="product-remove">
			<label class="form-check-label">
	    		Remover
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar" value="" id="product-recover">
			<label class="form-check-label">
	    		Recuperar elementos removidos
	  		</label>
		</div>
	</div>
</div>

<!-- Painel controlador pra editar texto -->
<div id="config-text-control">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<input type="hidden" id="id-texto">
		<input type="hidden" id="indice-cartaz-texto">
		<span>Nome</span>
		<textarea id="name-texto" class="form-control form-control-sm" type="text" placeholder="Nome"></textarea>
		<input id="color-palet-texto" type="text" placeholder="Cor">
		<span>Tamanho da fonte</span>
		<input id="font-texto-size" type="number" class="form-control form-control-sm" placeholder="Tamanho da fonte">
		<span>Família da fonte</span>
		<select id="font-family-texto-style" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php foreach ($dashboard->templates_font_family() as $key => $value): ?>
				<option value="<?php echo $value; ?>"><?php echo $value; ?></option>
			<?php endforeach ?>
		</select>
		<span>Largura do componente do texto</span>
		<input id="div-width-texto" type="number" class="form-control form-control-sm" placeholder="Largura do componente de texto">
		<span>Altura do componente do texto</span>
		<input id="div-height-texto" type="number" class="form-control form-control-sm" placeholder="Altura do componente de texto">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-texto-bold">
			<label class="form-check-label">
	    		Negrito
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-texto-uppercase">
			<label class="form-check-label">
	    		Letra maiúscula
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento_texto" value="" id="font-texto-center">
			<label class="form-check-label">
	    		Centralizado
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento_texto" value="" id="font-texto-left">
			<label class="form-check-label">
	    		Esquerda
	  		</label>
		</div>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="alinhamento_texto" value="" id="font-texto-right">
			<label class="form-check-label">
	    		Direita
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar_texto" value="" id="texto-remove">
			<label class="form-check-label">
	    		Remover
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar_texto" value="" id="texto-remove-all">
			<label class="form-check-label">
	    		Remover todos
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar_texto" value="" id="texto-hide">
			<label class="form-check-label">
	    		Esconder
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="remove_recuperar_texto" value="" id="texto-recover">
			<label class="form-check-label">
	    		Recuperar elementos Escondidos
	  		</label>
		</div>
	</div>
</div>

<!-- Painel controlador pra editar figura geometrica -->
<div id="config-geometrico-control">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<input type="hidden" id="id-geometrico">
		<input type="hidden" id="indice-cartaz-geometrico">
		<input id="color-palet-geometrico" type="text" placeholder="Cor">
		<span>Largura em px</span>
		<input id="width-geometrico" type="number" class="form-control form-control-sm" placeholder="Preencha um número em px">
		<span>Altura em px</span>
		<input id="height-geometrico" type="number" class="form-control form-control-sm" placeholder="Preencha um número em px">
		<span>Arredondar borda</span>
		<input id="border-geometrico" type="number" class="form-control form-control-sm" placeholder="Preencha um número em px">
		<span>Espessura da borda</span>
		<input id="border-espessura-geometrico" type="number" class="form-control form-control-sm" placeholder="Preencha um número em px">
		<span>Cor da borda</span>
		<input id="color-palet-border-geometrico" type="text" placeholder="Cor">
		<br>
		<span>Inclinação diagonal</span>
		<input id="border-inclinacao-geometrico" type="number" class="form-control form-control-sm" placeholder="Preencha um número em px">
		<div class="form-check">
			<input class="form-check-input" type="radio" name="esferico" id="geometrico-esfera-l">
			<label class="form-check-label">
	    		Forma e esférica por largura
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="esferico" id="geometrico-esfera-a">
			<label class="form-check-label">
	    		Forma e esférica por altura
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="geometrico-zindex" id="geometrico-sobre">
			<label class="form-check-label">
	    		Elemento acima do texto
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="geometrico-zindex" id="geometrico-abaixo">
			<label class="form-check-label">
	    		Elemento abaixo do texto
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="geometrico-remove">
			<label class="form-check-label">
	    		Remover
	  		</label>
		</div>
	</div>
</div>

<!-- Painel controlador pra editar elemento de imagem -->
<div id="config-imagem-control">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<input type="hidden" id="id-imagem">
		<input type="hidden" id="indice-cartaz-imagem">
		<input id="color-palet-imagem" type="text" placeholder="Cor">
		<span>Largura da imagem em px</span>
		<input id="width-imagem" type="number" class="form-control form-control-sm" placeholder="Largura">
		<span>Altura da imagem em px</span>
		<input id="height-imagem" type="number" class="form-control form-control-sm" placeholder="Altura">
		<span>Alterar Imagem</span>
		<select class="form-control form-control-sm" id="imagem-add" title="Selecione uma de suas imagens">
			<option value="">Selecione</option>
			<?php foreach ($imagens as $key => $value): ?>
				<option value="<?php echo URL_BASE.$value->caminho; ?>"><?php echo $value->nome; ?></option>
			<?php endforeach ?>
		</select>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="image-zindex" id="imagem-sobre">
			<label class="form-check-label">
	    		Imagem acima do texto
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="image-zindex" id="imagem-abaixo">
			<label class="form-check-label">
	    		Imagem abaixo do texto
	  		</label>
		</div>
		<hr>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="imagem-remove">
			<label class="form-check-label">
	    		Remover esta imagem
	  		</label>
		</div>
	</div>
</div>

<!-- Painel controlador -->
<div id="config-cartaz-control">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<span>Quantidade de cartaz a adicionar</span>
		<select id="cartazes-qtd" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php for ($i=1; $i <= 24; $i++): ?>
				<?php  echo '<option value="'.$i.'">'.$i.'</option>'; ?>
			<?php endfor ?>
		</select>
		<span>Cartaz a ser adicionado</span>
		<select id="file-template" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php foreach ($cartazes as $key => $value): ?>
				<?php  echo '<option value="'.$value->id.'" data-tamanho="'.$value->tamanho_cartaz_px.'">'.$value->nome_cartaz.' - Tamanho:'.$value->tamanho_cartaz_px.'</option>'; ?>
			<?php endforeach ?>
		</select>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="clear">
			<label class="form-check-label">
	    		Limpar cartaz
	  		</label>
		</div>
	</div>
</div>