<!-- aditional element -->
<div id="config-elemento">
	<p class="config-text"></p>
	<div class="close">X</div>
	<div class="config-body">
		<input type="hidden" name="id-elem" id="id-elem">
		<input type="hidden" name="id-elem-type" id="id-elem-type">
		<input type="hidden" name="id-elem-datatable" id="id-elem-datatable">
		<textarea id="name-elem" class="form-control form-control-sm" type="text" placeholder="Nome do elemento"></textarea>
		<input id="color-palet-elem" type="text" placeholder="Cor">
		<input id="font-elem-size" type="number" class="form-control form-control-sm" placeholder="Tamanho da fonte">
		<span>Arquivo de Excel (Selecione)</span>
		<select id="file-excel" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php foreach ($arquivo_atual as $key => $value): ?>
				<?php  echo '<option value="'.$value->id.'">'.$value->nome.'</option>'; ?>
			<?php endforeach ?>
		</select>
		
		<span>Produto</span>
		<div id="select-search">
			<input type="text" id="select-text" class="form-control form-control-sm">
			<ul id="select-list">
				<li class="select-item"><a href="#">Selecione</a></li>
			</ul>
		</div>

		<span>Fonte family do texto</span>
		<select id="font-family-elem-style" class="form-control form-control-sm">
			<option value="">Selecione</option>
			<?php foreach ($dashboard->templates_font_family() as $key => $value): ?>
				<option value="<?php echo $value; ?>"><?php echo $value; ?></option>
			<?php endforeach ?>
		</select>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-elem-bold">
			<label class="form-check-label">
	    		Negrito
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-elem-center-left">
			<label class="form-check-label">
	    		Texto Centralizado/Esquerda
	  		</label>
		</div>
			<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-elem-center-right">
			<label class="form-check-label">
	    		Texto Centralizado/Direita
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="font-elem-uppercase">
			<label class="form-check-label">
	    		Letra maiúscula
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="remove-this-element">
			<label class="form-check-label">
	    		Remover este elemento
	  		</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="remove-associate-element">
			<label class="form-check-label">
	    		Remover este elemento e seus associados
	  		</label>
		</div>
	</div>
</div>