<nav class="col-md-2 d-none d-md-block bg-blue sidebar">
	<div class="sidebar-sticky">
		<h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1" style="color:#FFF;">
  			<?php if (isset($_SESSION['login'])): ?>
  			<span><?php echo "Olá {$_SESSION['login']}"; ?></span>
  			<?php endif ?>
		</h6>
	    <ul class="nav flex-column mb-2">
	    	<li class="nav-item">
	        	<a class="nav-link" href="javascript:window.history.go(-1)">
	          		<span data-feather="arrow-left" style="color:#FFF"></span>
	          		Voltar
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE ?>meus-dados">
	          		<span data-feather="user" style="color:#FFF"></span>
	          		Meus dados
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'create-template' ?>">
	          		<span data-feather="layers" style="color:#FFF"></span>
	          		Criar Cartaz
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'list-templates' ?>">
	          		<span data-feather="list" style="color:#FFF"></span>
	          		Listar Templates
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'importar-arquivo' ?>">
	          		<span data-feather="file-text" style="color:#FFF"></span>
	          		Importar Arquivos
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'dashboard/visualizar_tabela' ?>">
	          		<span data-feather="database" style="color:#FFF"></span>
	          		Visualizar tabela
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'atualizar-arquivo' ?>">
	          		<span data-feather="file" style="color:#FFF"></span>
	          		Atualizar Arquivos
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'configurar-arquivo' ?>">
	          		<span data-feather="settings" style="color:#FFF"></span>
	          		Configurar Arquivo
	        	</a>
	      	</li>
	      	<li class="nav-item" id="pdf-download">
	        	<a class="nav-link" href="#">
	          		<span data-feather="download" style="color:#FFF"></span>
	          		Download em PDF
	        	</a>
	      	</li>
	      	<li class="nav-item" id="image-download">
	        	<a class="nav-link" href="#">
	          		<span data-feather="download" style="color:#FFF"></span>
	          		Download em Imagem
	        	</a>
	      	</li>
	      	<li class="nav-item" id="print-download">
	        	<a class="nav-link" href="<?php echo URL_BASE.'enviar-imagens' ?>">
	          		<span data-feather="image" style="color:#FFF"></span>
	          		Enviar Imagens
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'dashboard/videos'; ?>">
	          		<span data-feather="video" style="color:#FFF"></span>
	          		Video Aulas
	        	</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="<?php echo URL_BASE.'dashboard/sobre'; ?>">
	          		<span data-feather="info" style="color:#FFF"></span>
	          		Sobre o Sistema
	        	</a>
	      	</li>
	    </ul>
 	</div>
</nav>