<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="<?php echo URL_BASE ?>dashboard" style="text-align:center; background-color:FFF;">
        <img src="<?php echo URL_BASE.'app/assets/img/logo-100.fw.png'; ?>">
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adicionar elemento</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <?php foreach ($dashboard->templates_elements() as $key => $value): ?>
                    <span class="dropdown-item element-links-add" data-text="<?php echo $value['text'] ?>" data-element="<?php echo $key ?>">
                        <span data-feather="plus-square"></span>
                        <?php echo "Adicionar {$value['name']}"; ?>
                    </span>
                    <?php endforeach ?>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tamanho de folha</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <?php foreach ($dashboard->templates_size() as $key => $value): ?>
                    <span class="dropdown-item size-links" data-size-px="<?php echo $value['size-px']; ?>" data-size-cm="<?php echo $value['size-cm']; ?>" data-orientacao="paisagem"><?php echo $value['name']; ?></span>
                    <?php endforeach ?>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orientação da folha</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <span class="dropdown-item orient-links" data-orient="retrato">Retrato</span>
                    <span class="dropdown-item orient-links" data-orient="paisagem">Paisagem</span>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zoom da folha</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                    <?php foreach ($dashboard->zomm_opc() as $key => $value): ?>
                    <span class="dropdown-item zoom-links" data-zoom="<?php echo $value['value']; ?>"><?php echo $value['name']; ?></span>
                    <?php endforeach ?>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="config-cartaz" href="#">Editar cartaz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<?php echo URL_BASE ?>usuarios/logout">Sair</a>
            </li>
        </ul>
    </div>
</nav>