<p>
O Vprint é um sistema de criação de cartazes voltado para o mercado varejista. Seu principal objetivo é aumentar a velocidade na construção de cartazes dos supermercados. Com sua interface simples e intuitiva o usuário é capaz de criar diversos cartazes para a sua lista de produtos.
</p>
<p>
No Vprint o usuário consegue importar para o sistema uma lista de produtos previamente criada num arquivo de Excel. Através desta lista ele consegue definir as informações com que desejará trabalhar em seu cartaz.
</p>