<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2018
	View: usuarios
-->
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
	<form class="form-signin text-center" action="<?php echo URL_BASE ?>atualizar-conta" method="post" id="form-criar-conta">
		<img class="mb-4" src="<?php echo URL_BASE ?>app/assets/img/logo-300.fw.png" alt="" width="300" height="auto">
		<h1>Recuperar conta</h1>
		<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'user-exists'): ?>
			<div class="alert alert-danger" role="alert">
				<strong>Erro</strong> Usuário já existe!
			</div>
		<?php endif ?>
		<label class="sr-only">Nome</label>
	  	<select class="form-control" name="id" required>
	  		<option value="">Selecione uma conta</option>
	  		<?php foreach ($users as $key => $value): ?>
	  			<option value="<?php echo $value->id ?>"><?php echo $value->email ?></option>
	  		<?php endforeach ?>
	  	</select>

		<br>

	  	<label class="sr-only">Redefina a senha</label>
	  	<input type="password" id="inputPassword" name="senha" minlength="5" class="form-control" placeholder="Redefina a senha" required>
	  	
		<br>

	  	<label class="sr-only">Confirmar Senha</label>
	  	<input type="password" id="confirmPassword" minlength="5" class="form-control" placeholder="Confirme sua senha redefinida" required>
	  	
	  	<div class="checkbox mb-3">
			<label>
				<a href="<?php echo URL_BASE ?>">Voltar</a>
			</label>
		</div>

	  	<button class="btn btn-lg btn-primary btn-block" style="background-color:#0036D9 !important;" type="submit">Atualizar dados</button>
	</form>
</main>

<script type="text/javascript">
	var password = document.getElementById("inputPassword"), confirm_password = document.getElementById("confirmPassword");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
	    confirm_password.setCustomValidity("Senhas são diferentes");
	  } else {
	    confirm_password.setCustomValidity('');
	  }
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>