<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: Config
-->

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
	<form class="form-signin text-center" action="<?php echo URL_BASE ?>criar-db" method="post">
		
		<br>

		<img class="mb-4" src="<?php echo URL_BASE ?>app/assets/img/logo-300.fw.png" alt="" width="300" height="auto">
		
		<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'error-db'): ?>
			<div class="alert alert-danger" role="alert">
				<strong>Erro!</strong> Houve um problema na criação do banco de dados.
			</div>
		<?php endif ?>

		<h1 class="h3 mb-3 font-weight-normal">Configurar o banco de dados - PASSO 2</h1>

		<span>Nome do banco de dados</span>
		<input type="text" name="db_name" class="form-control" placeholder="Nome do banco de dados" value="vprint_db" required autofocus>
		

		<span>Host</span>
		<input type="text" name="db_host" class="form-control" placeholder="Nome do host" value="localhost" required>
		

		<span>Nome do usuário do banco de dados</span>
		<input type="text" name="db_user" class="form-control" placeholder="Nome do usuário do banco de dados" value="vprint" required>
		

		<span>Senha do banco de dados</span>
		<input type="text" name="db_pass" class="form-control" placeholder="Senha do banco de dados" value="vprint">
		
		<br>

		<div class="checkbox mb-3">
			<label>
				<a href="javascript:window.history.go(-1)">Voltar</a>
					<!-- <input type="checkbox" value="remember-me"> Remember me -->
			</label>
		</div>
				
		<button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#0036D9 !important;">Criar banco de dados</button>
		
		<br>
		<br>
		
		<p clxass="mt-5 mb-3 text-muted">Vprint &copy; <?php echo "2018-".date("Y"); ?><br><?php echo $this->version; ?></p>
	</form>
</main>