	<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: init
-->

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
	<form class="form-signin text-center" action="<?php echo URL_BASE ?>logar" method="post">
		<img class="mb-4" src="<?php echo URL_BASE ?>app/assets/img/logo-300.fw.png" alt="" width="300" height="auto">
		<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'user-not-find'): ?>
			<div class="alert alert-danger" role="alert">
				<strong>Erro</strong><br> Usuário não encontrado!
			</div>
		<?php endif ?>
		<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'internal-error'): ?>
			<div class="alert alert-danger" role="alert">
				<strong>Erro</strong><br> Erro interno no servidor. Contate o administrador!
			</div>
		<?php endif ?>
		<?php if (isset($_QUERY['status']) && $_QUERY['status'] == 'update-success'): ?>
			<div class="alert alert-success" role="alert">
				<strong>Sucesso</strong><br> A conta selecionada foi atualizada!
			</div>
		<?php endif ?>
		<h1 class="h3 mb-3 font-weight-normal">Entre com os dados</h1>
		<label for="inputEmail" class="sr-only">Email</label>
		<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Seu email" required autofocus>
		
		<br>
		
		<label for="inputPassword" class="sr-only">Senha</label>
		<input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Sua senha" required>
			
		<div class="checkbox mb-3">
			<label>
				<a href="<?php echo URL_BASE ?>nova-conta">Criar uma conta</a>
			</label>
			<br>
			<label>
				<a href="<?php echo URL_BASE ?>recuperar-conta">Recuperar uma conta</a>
			</label>
		</div>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#0036D9 !important;">Entrar</button>
		
		<div class="checkbox mb-3">
			<label>
				<a href="<?php echo URL_BASE ?>dashboard/exportar_template">Exportar todos os cartazes</a>
			</label>
		</div>

		<p clxass="mt-5 mb-3 text-muted">Vprint &copy; <?php echo "2018-".date("Y"); ?><br><?php echo $this->version; ?></p>
	</form>
</main>