#erro{
	text-align:center; 
	color:#FFF; 
	background-color:#F3f3f3;
	box-shadow: 2px 5px 2px #888888;
	width:100%;
	height:100%;
	color: #000;
}

#erro-title{
	padding-top: 18%;
	font-size: 72px;
}

#erro-desc{
	margin-bottom: 50%;
}

a#erro-link{
	background-color: #AAAAAA;
	color: #000;
	border-radius: 6px;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

a#erro-link:hover{
	color: #FFF;
}