.folha, .folha-interna{
	width: 100%;
	float: left;
	margin-bottom: 50px;
	position: relative;
}

#cartaz-final{
	color: #000 !important;
}

.cartaz{
	color: #000;
	float: left;
	margin-top: 10px;
	width: 102px;
	margin-left: 5px;
	height: 150px;
	border: 1px solid #AFAFAF;
	box-shadow: 2px 5px 2px #888888;
}

#header{
	width: 100%;
	height: 20%;
	background-color: #f0e9e9;
	font-size: 400%;
	text-align: center;
}

#header, .add-element{
	z-index: 2;
}

#header ,#body ,#footer{
	cursor: pointer;
	position: relative;
}

#body{
	width: 100%;
	height: 60%;
	background-color: #dbd8d8;	
}

#body{
	z-index: 1;
	width: 100%;
}

#footer{
	width: 100%;
	height: 20%;
	background-color: #a5a4a4;
}

#footer{
	z-index: 0;
	width: 100%;
}

#titulo{
	padding-top: 50%;
	font-size: 60px;
}

.fonte{
	height: auto;
}

.elemento:hover, .imagem:hover, .geometrico:hover, .texto:hover{
	text-shadow: 2px 2px #ff0000;
	border: 0.5px dashed red !important;
	z-index: 99999;
}

.cartaz-add{
	float: left;
}

.cartaz-add #header .texto, .cartaz-add #header .geometrico, .cartaz-add #header .imagem{
	cursor: normal;
	border: none;
	text-shadow: none;
	cursor: default !important;
}

.cartaz-add #header .ui-resizable-handle {
	cursor: normal;
	border: none;
	text-shadow: none;
	cursor: default !important;
}

.cartaz-add #header .elemento:hover{
	cursor: normal;
	border: none;
	text-shadow: none;
	cursor: default !important;
}

.cartaz-add .ui-draggable{
	cursor: default !important;
}
.cartaz-add #header{
	cursor: default !important;
}

.cartaz-add{
	cursor: normal !important;
}

.qtd-products{
	display: none;
}

#status-cartaz{
	float: right;
	width: auto;
}

.status{
	float: left;
	margin-left: 20px;
	color: #FFF;
}

.cartaz_nome{
	width: 100%;
	border: none;
	color: #2E64FE;
	background-color: transparent;
}

.navbar{
	z-index: 99999999 !important;
}

.botao{
	border: 1px solid #FFF;
	border-radius: 4px;
	padding: 4px;
	text-decoration: none;
	color: #FFF;
	z-index: 99999999 !important;
}

.botao:hover{
	text-decoration: none;
	color: #000;
	z-index: 99999999 !important;
}