.bg-blue{
	background: linear-gradient(to bottom, #6699ff 0%, #0036D9 100%);
}

hr{
	padding: 0px;
	margin: 0px;
}
ul#select-list, ul#select-list2{
	color: #000;
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-height: 200px;
	float: left;
	border: 1px solid #888;
	overflow: auto;
}

li .select-item{
	text-decoration: none;
	color: #000 !important;
	width: 100%;
	width: auto;
	float: left;
	text-align: left;
	background-color: #fff;
	padding-left: 10px;
	cursor: normal !important;
}

.select-item:hover{
	cursor: normal;
	background-color: #6699ff;
}

datalist{
	font-size: 12px;
}

.active {
	background-color: #6699ff;
	color: #FFF;
	padding: 10px;
	box-shadow: 2px 5px 2px #888888;
}

.box-cartaz{
	padding: 10px;
	float: left;
	width: 100%;
	height: auto;
	background-color: #fdfdfd;
	border: 0.5px solid #AFAFAF;
	box-shadow: 2px 5px 2px #888888;
}

.box-card{
	padding: 10px;
	width: 33.3%;
	float: left;
	background-color: #fdfdfd;
	border: 0.5px solid #AFAFAF;
	box-shadow: 2px 5px 2px #888888;
}

.arquivo{
	background-image: url('/vprint/app/assets/img/excel.png');
	background-size: 100% 100%;
	float: left;
	margin-top: 10px;
	width: 102px;
	margin-left: 5px;
	height: 150px;
	border: 1px solid #AFAFAF;
	box-shadow: 2px 5px 2px #888888;
}

.arquivo-imagem{
	cursor: normal !important;
	background-size: 100% 100%;
	float: left;
	margin-top: 10px;
	width: 102px;
	margin-left: 5px;
	height: 150px;
	border: 1px solid #AFAFAF;
	box-shadow: 2px 5px 2px #888888;
}
.arquivo-imagem a{
	color: #000;
	font-weight: bold;
}
.arquivo-imagem a:hover{
	color: #FFF;
}

.header{
	font-weight: bold;
	padding: 10px;
	float: left;
	width: 100%;
	height: auto;
	background-color: #6699ff;
	border: 0.5px solid #AFAFAF;
	z-index: 9999;	
}


.cartaz:hover, .arquivo:hover{
	box-shadow: 2px 5px 2px #0036D9;
	cursor: pointer;
}

.arquivo-imagem:hover{
	box-shadow: 2px 5px 2px #0036D9;
}

.sidebar-sticky a{
	color: #000 !important;
}

.sidebar-sticky a:hover{
	color: #FFF !important;
}

#line{
	height: 2px;
}

.elemento, .geometrico, .texto{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	width: 	100%;
	cursor: all-scroll;
	word-break: break-all;
	text-align: center;
	position: fixed;
	z-index: 999;
}

.imagem{
	background-size: 100% 100%;
	background-image: url('/vprint/app/assets/img/logo-300.fw.png');
	height: 100px;
	width: 200px;
	position:relative;
	z-index: 99;
}


.size-links, .element-links-add, .zoom-links, .orient-links{
	cursor: pointer;
}

#ideal-size-footer, #ideal-size-body, #ideal-size-header{
	cursor: default;
}

#config-template,
#config-cartaz-control,
#config-control,
#config-text-control,
#config-geometrico-control,
#config-imagem-control,
#config-text,
#config-elemento,
#config-header,
#config-body,
#config-footer{
	position: fixed;
	top: 10%;
	right: 2%;
	display: none;
	width: 250px;
	height: auto;
	margin-top: 10px;
	z-index: 9999;
	background-color: #FFF;
	cursor: all-scroll;
}

.close{
	display: none;
	font-weight: bold;
	color: silver;
	font-size: 24px;
	width: 23px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.delete_cartaz, .delete_arquivo{
	font-weight: bold;
	color: silver;
	margin-top: -3px;
	font-size: 20px;
	width: 15px;
	height: 25px;
	float: right;
	cursor: pointer;
	z-index: 9999;
}

.delete_imagem{
	font-weight: bold;
	color: silver;
	font-size: 20px;
	width: 15px;
	height: 25px;
	float: right;
	cursor: pointer;
	z-index: 9999;
}

.arquivo a{
	text-shadow: 1px 0 0 #000;
	color: #000;
	font-weight: bold;
}

.delete_cartaz:hover, .delete_arquivo:hover, .delete_imagem:hover{
	color: red;
}

.config-text{
	width: 80%;
	float: left; 
	margin-left: 10px;
}

.config-body{
	padding: 5px;
	width: 100%;
	float: left;
}

.sp-replacer{
	text-align: right;
	float: left;
	width: 100%;
	border-radius: 2px;
}

#cabecalhos-tags{
	width: 100%;
	float: left;
	margin: 10px;
}

#cabecalhos{
	width: 100%;
	float: left;
}


.text-center{
	text-align: center;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #888888;
	font-size: 50px;
	font-family: impact;
	font-weight: bold;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

div.ui-resizable-handle{
	background-color: transparent !important;
}

.loader-container{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999999;
	display: none;
}

.loader-message{
	position: absolute;
	top: 60%;
	left: 50%;
	width: 120px;
  	height: 120px;
  	color: #FFF;
  	font-size: 22px;
  	font-weight: bold;
	display: none;
}

.loader {
	position: absolute;
	top: 40%;
	left: 50%;
  	border: 16px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 16px solid #3498db;
  	width: 120px;
  	height: 120px;
  	z-index: 2000;
  	-webkit-animation: spin 2s linear infinite; /* Safari */
  	animation: spin 2s linear infinite;
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}

.indice-check{
	width: 20px;
	height: 30px;
	float: left;
	font-weight: bold;
}

#formulario_de_importar_template{
	display: none;
}