<html>
<head>
	<title><?php echo $this->meta_title; ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="<?php echo $this->meta_description; ?>" />
	<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />
	<link rel="shortcut icon" href="<?php echo URL_BASE ?>app/assets/img/logo-50.fw.png" type="image/png"/>
	<?php echo $this->css_files; ?>
</head>
<body>
	<div class="loader-container">
		<div class="loader"></div>
		<div class="loader-message">Carregando...</div>
   	</div>
	<?php require_once $this->content(); ?>
	
	<script type="text/javascript">
		var URL_RELATIVA = '<?php echo URL_BASE; ?>';
		var URL_ABSOLUTA = '<?php echo PATH_BASE; ?>';
	</script>
	
	<?php echo $this->js_files; ?>
	
	<script>
		function display_load(modo = "block"){
			$(".loader-container").css("display", modo);
			$(".loader").css("display", modo);
			$(".loader-message").css("display", modo);
		}

		$(document).ready(function() {
			if ($("#produtos-tabela").length == 1) {
				$('#produtos-tabela').DataTable({
					"aaSorting": [],
					"pageLength": 100,
					"aLengthMenu": [
					      [-1, 200, 300, 400, 500, 600, 700, 800],
					      ["Todos", 200, 300, 400, 500, 600, 700, 800]
					    ],
					"language": {
					    "sEmptyTable": "Nenhum registro encontrado",
					    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
					    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
					    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
					    "sInfoPostFix": "",
					    "sInfoThousands": ".",
					    "sLengthMenu": "_MENU_ resultados por página",
					    "sLoadingRecords": "Carregando...",
					    "sProcessing": "Processando...",
					    "sZeroRecords": "Nenhum registro encontrado",
					    "sSearch": "Pesquisar",
					    "oPaginate": {
					        "sNext": "Próximo",
					        "sPrevious": "Anterior",
					        "sFirst": "Primeiro",
					        "sLast": "Último"
					    },
					    "oAria": {
					        "sSortAscending": ": Ordenar colunas de forma ascendente",
					        "sSortDescending": ": Ordenar colunas de forma descendente"
					    }
					}
				});
			};
		});

    	feather.replace();

		$("#color-palet, #color-palet-header, #color-palet-body, #color-palet-product, #color-palet-footer, #color-palet-texto,#color-palet-geometrico,#color-palet-imagem, #color-palet-border-geometrico").spectrum({
		    color: '#000',
		    showInput: true,
		    showPalette: true,
		    showAlpha: true,
			move: function(color){
				$(this).css('background-color', color.toRgbString());
			}
		});

		var cartaz_nomes = [];
		 cartaz_nomes['3180x2246'] 	='A1';
		 cartaz_nomes['2246x3180'] 	='A1';
		 cartaz_nomes['1590x2246'] 	='A2';
		 cartaz_nomes['2246x1590'] 	='A2';
		 cartaz_nomes['1590x1123'] 	='A3';
		 cartaz_nomes['1123x1590'] 	='A3';
		 cartaz_nomes['795x1123' ]	='A4';
		 cartaz_nomes['1123x795' ]	='A4';
		 cartaz_nomes['559x794']	='A5';
		 cartaz_nomes['794x559']	='A5';
		 cartaz_nomes['559x397']	='A6';
		 cartaz_nomes['397x559']	='A6';

		$("#pdf-download").click(function() {
			if ($("#cartaz-final").length == 1) {
				display_load('block');
		        
		        var folha_width = $("#folha").width();
				var folha_height = $("#folha").height();
				var folha_nome = folha_width+"x"+folha_height;
				var tamanho_cm = $("#cartaz-final").attr("data-tamanho").split('x');
				var orientacao = $("#cartaz-final").attr("data-orientacao");

	          	if (orientacao == 'retrato') {
	      			doc = new jsPDF('p', 'mm', [tamanho_cm[0], tamanho_cm[1]]);
	          	} else {
	          		doc = new jsPDF('l', 'mm', [tamanho_cm[0], tamanho_cm[1]]);
	          	}
	          	
	          	$("#cartaz-final").css('-webkit-transform','scale(1)');	
		        var length = $(".folha").length;
		        var paginas = 0;
		        var count = new Array;
		        
		        for (var i = 0; i < length; i++) {
		         	count[i] = i;
		        }
		        
		        Array.prototype.remove = function() {
				    var what, a = arguments, L = a.length, ax;
				    while (L && this.length) {
				        what = a[--L];
				        while ((ax = this.indexOf(what)) !== -1) {
				            this.splice(ax, 1);
				        }
				    }
				    return this;
				};

				$.each( $(".folha"), function( key, value) {
			        var element = document.getElementsByClassName("folha")[key];
			        html2canvas(element, {
			            logging: false,
			            async: false,
			            windowWidth: '100%',
			            windowHeight: '100%',
			            width: folha_width,
			            height: folha_height,
			            useCORS: true}).then(function(canvas) {
			            	var data = canvas.toDataURL('image/png', 1);
			              	var image = encodeURI(data);
					        count.remove(key);

		            		if(count == null || count.length == 0){  
		            			doc.addImage(image, 'PNG', 0, 0);
		            			var name = 'cartazes-'+cartaz_nomes[folha_nome]+'-'+orientacao+'-com-'+paginas+'-paginas.pdf';
		            			doc.save(name);	
								display_load('none');
						    } else {
			            		doc.addImage(image, 'PNG', 0, 0);
			            		doc.addPage();
						    }
			        });
			        paginas +=1;
				});
			};
	      });

		$("#image-download").click(function() {
			display_load('block');
			if ($("#cartaz-final").length == 1) {		        
		        var folha_width = $("#folha").width();
				var folha_height = $("#folha").height();
				var folha_nome = folha_width+"x"+folha_height;
				var tamanho_cm = $("#cartaz-final").attr("data-tamanho").split('x');
				var orientacao = $("#cartaz-final").attr("data-orientacao");

	          	$("#cartaz-final").css('-webkit-transform','scale(1)');	
		        var length = $(".folha").length;
		        var paginas = 0;
		        var html_page = "<style>.preview{margin:20px; float:left; border:1px solid #FFF;}.preview:hover{border:1px solid red;}</style>";
		        var count = new Array;
		        
		        for (var i = 0; i < length; i++) {
		         	count[i] = i;
		        }
		        
		        Array.prototype.remove = function() {
				    var what, a = arguments, L = a.length, ax;
				    while (L && this.length) {
				        what = a[--L];
				        while ((ax = this.indexOf(what)) !== -1) {
				            this.splice(ax, 1);
				        }
				    }
				    return this;
				};

				$.each( $(".folha"), function( key, value) {
			        var element = document.getElementsByClassName("folha")[key];
			        html2canvas(element, {
			            logging: false,
			            async: false,
			            windowWidth: '100%',
			            windowHeight: '100%',
			            width: folha_width,
			            height: folha_height,
			            useCORS: true}).then(function(canvas) {
			            	var data = canvas.toDataURL('image/png', 1);
			              	var image = encodeURI(data);
			              	count.remove(key);
			              	var tamanho = '';
			              	if (orientacao == 'retrato') {
			              		tamanho = 'width:320px; height:500px;';
			              	} else {
			              		tamanho = 'width:500px; height:320px;';
			              	}

					        if(count == null || count.length == 0){  
						        var myWindow = window.open();
						    	html_page += '<div class="preview"><a href="'+image+'" name="cartaz'+key+'" id="click" download><img src="'+image+'" name="cartaz'+key+'" style="'+tamanho+' background-size: 100% 100%;"></a></div>';
								myWindow.document.write(html_page);
								display_load('none');          			
						    } else {
						    	html_page += '<div class="preview"><a href="'+image+'" name="cartaz'+key+'" id="click" download><img src="'+image+'" name="cartaz'+key+'" style="'+tamanho+' background-size: 100% 100%;"></a></div>';
						    }
			        });
			        paginas +=1;
				});
				// myWindow.document.getElementById("click").click();
			};
	      });	
   	</script>
   	<!-- Modal delete cartaz-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Excluir cartaz?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Clique em sim para excluir o cartaz selecionado. Todos os dados deste cartaz serão apagados.
	      </div>
	      <div class="modal-footer">
	      	<script type="text/javascript">
	      		// $("#form-cartaz-delete").attr('action');
	      		$(".delete_cartaz").click(function(e){
					var id = $(this).attr("data-id");
					var url = '<?php echo URL_BASE ?>delete-template/';
					$("#form-cartaz-delete").attr('action', url);
					$("#cartaz_id").val(id);
				});
	      	</script>
	      	<form method="post" action="" id="form-cartaz-delete">
	      		<input type="hidden" name="id" id="cartaz_id">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
		        <button type="submit" style="background-color:#0036D9;" class="btn btn-primary">Sim</button>
	      	</form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal delete arquivo excel -->
	<div class="modal fade" id="arquivoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Excluir arquivo de Excel?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Clique em sim para excluir o arquivo selecionado. Todos os dados deste arquivo serão apagados.
	      </div>
	      <div class="modal-footer">
	      	<script type="text/javascript">
	      		// $("#form-cartaz-delete").attr('action');
	      		$(".delete_arquivo").click(function(e){
					var id = $(this).attr("data-id");
					var url = '<?php echo URL_BASE ?>delete-arquivo/';
					$("#form-arquivo-delete").attr('action', url);
					$("#arquivo_id").val(id);
				});
	      	</script>
	      	<form method="post" action="" id="form-arquivo-delete">
	      		<input type="hidden" name="id" id="arquivo_id">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
		        <button type="submit" style="background-color:#0036D9;" class="btn btn-primary">Sim</button>
	      	</form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal delete imagem-->
	<div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Excluir arquivo de imagem?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Clique em sim para excluir a imagem selecionada. Todos os cartazes que foram criados com esta imagem perderão a referência e não poderão mais exibi-las..
	      </div>
	      <div class="modal-footer">
	      	<script type="text/javascript">
	      		// $("#form-cartaz-delete").attr('action');
	      		$(".delete_imagem").click(function(e){
					var id = $(this).attr("data-id");
					var url = '<?php echo URL_BASE ?>delete-imagem/';
					$("#form-imagem-delete").attr('action', url);
					$("#imagem_id").val(id);
				});
	      	</script>
	      	<form method="post" action="" id="form-imagem-delete">
	      		<input type="hidden" name="id" id="imagem_id">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
		        <button type="submit" style="background-color:#0036D9;" class="btn btn-primary">Sim</button>
	      	</form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal visualizar imagem-->
	<div class="modal fade" id="imagemviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Visualizar imagem</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="" id="view-image">
	      	<script type="text/javascript">
	      		$(".viewModal").click(function(e){
		      		var caminho = $(this).attr("data-caminho");
		      		$("#view-image").attr('src', caminho);
		      		$("#view-image").css('width','100%');
		      		$("#view-image").css('height','auto');
		      	});
	      	</script>
	      </div>
	      <div class="modal-footer">
	        <button type="button" style="background-color:#0036D9;"  class="btn btn-primary" data-dismiss="modal">Fechar imagem</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>